<div class="modal-header">
  <h4 class="modal-title">{{titulo}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<ng-container *ngIf="tipoContenido === tiposContenido.agregarDetalleGuia">
  <div class="modal-body">
    <app-registrar-detalle #detalleGuia [detalle]="data"></app-registrar-detalle>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" [disabled] = "!detalleGuia.formaDetalle.valid" (click)="activeModal.close(detalleGuia.formaDetalle.value)">
        <i class="fas fa-check"></i>&nbsp;Aceptar</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">
        <i class="fas fa-ban"></i>&nbsp;Cancelar</button>
  </div>
</ng-container>

<ng-container *ngIf="tipoContenido !== tiposContenido.agregarDetalleGuia">
  <div class="modal-body">
    <app-informe-ensayo-glp *ngIf="tipoContenido === tiposContenido.informeEnsayoGlp"></app-informe-ensayo-glp>
    <app-informe-ensayo-liquido *ngIf="tipoContenido === tiposContenido.informeEnsayoLiquido"></app-informe-ensayo-liquido>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">
        <i class="fas fa-check"></i>&nbsp;Aceptar</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">
        <i class="fas fa-ban"></i>&nbsp;Cancelar</button>
  </div>
</ng-container>