<div class="modal-header">
  <h4 class="modal-title">Ingreso de Resultado {{ tipoMuestra | tipoMuestra }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-informe-ensayo-glp *ngIf="tipoMuestra === 1"></app-informe-ensayo-glp>
  <app-informe-ensayo-liquido *ngIf="tipoMuestra === 2"></app-informe-ensayo-liquido>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>