<form>
    <div class="form-group row">
        <label for="txtInfLab" class="col-sm-3 col-form-label">N° Informe Laboratorio</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="txtInfLab" placeholder="Nro. Informe Laboratorio">
        </div>    
    </div>
    <div class="form-group row">
        <label for="txtObservaciones" class="col-sm-3 col-form-label">Observaciones</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="txtObservaciones" placeholder="Detallar">
        </div>    
    </div>
  <ngb-tabset >
    <ngb-tab class="nav nav-pills mb-3" id="tab-preventchange1" title="Primera">
      <ng-template ngbTabContent>
        <div class="row padding-top-15 padding-left-6">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="txtDensidadRelativa" class="col-md-5 col-form-label">Densidad Relativa</label>
                <div class="col-md-7">
                  <input name="DensidadRelativa"  type="text" class="form-control" id="txtDensidadRelativa">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label for="txtPresionVapor" class="col-md-5 col-form-label">Presión de Vapor</label>
                <div class="col-md-7">
                  <input name="PresionVapor"  type="text" class="form-control" id="txtPresionVapor">
                </div>
              </div>
            </div>
          </div>
          <div class="row padding-left-6" >
            <div class="col-md-6">
              <div class="form-group row">
                <label for="txtOctanoMotor" class="col-md-5 col-form-label">N° Octano Motor</label>
                <div class="col-md-7">
                  <input name="OctanoMotor" type="text" class="form-control" id="txtOctanoVapor">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label for="txtMetano" class="col-md-5 col-form-label">Metano (%Mol)</label>
                <div class="col-md-7">
                  <input name="Metano"  type="text" class="form-control" id="txtMetano">
                </div>
              </div>
            </div>
          </div>
          <div class="row padding-left-6">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="txtEtano" class="col-md-5 col-form-label">Etano (%Mol)</label>
                <div class="col-md-7">
                  <input name="Etano"  type="text" class="form-control" id="txtEtano">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label for="txtEtileno" class="col-md-5 col-form-label">Etileno (%Mol)"</label>
                <div class="col-md-7">
                  <input name="Etileno"  type="text" class="form-control" id="txtEtileno">
                </div>
              </div>
            </div>
          </div>
          <div class="row padding-left-6">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="txtPropano" class="col-md-5 col-form-label">Propano (%Mol)</label>
                <div class="col-md-7">
                  <input name="Propano"  type="text" class="form-control" id="txtPropano">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label for="txtPropileno" class="col-md-5 col-form-label">Propileno (%Mol)"</label>
                <div class="col-md-7">
                  <input name="Propileno"  type="text" class="form-control" id="txtPropileno">
                </div>
              </div>
            </div>
          </div>
          <div class="row padding-left-6">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="txtIsobutano" class="col-md-5 col-form-label">Isobutano (%Mol)</label>
                <div class="col-md-7">
                  <input name="Isobutano"  type="text" class="form-control" id="txtIsobutano">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label for="txtButano" class="col-md-5 col-form-label">N-Butano (%Mol)"</label>
                <div class="col-md-7">
                  <input name="Butano"  type="text" class="form-control" id="Butano">
                </div>
              </div>
            </div>
          </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab-preventchange2" title="Segunda">
      <ng-template ngbTabContent>
        <div class="row padding-top-15 padding-left-6">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="txtTransButeno" class="col-md-5 col-form-label">Trans 2 Buteno(% Mol)</label>
                <div class="col-md-7">
                  <input name="TransButeno"  type="text" class="form-control" id="txtTransButeno">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label for="txtButeno" class="col-md-5 col-form-label">1-Buteno (%Mol)</label>
                <div class="col-md-7">
                  <input name="Buteno"  type="text" class="form-control" id="txtButeno">
                </div>
              </div>
            </div>
          </div>
          <div class="row padding-left-6">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="txtIsobutileno" class="col-md-5 col-form-label">Isobutileno (%Mol)</label>
                <div class="col-md-7">
                  <input name="Isobutileno"  type="text" class="form-control" id="txtIsobutileno">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label for="txtCisButeno" class="col-md-5 col-form-label">Cis 2 Buteno (%Mol)</label>
                <div class="col-md-7">
                  <input name="CisButeno"  type="text" class="form-control" id="txtCisButeno">
                </div>
              </div>
            </div>
          </div>
          <div class="row padding-left-6">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="txtIsopentano" class="col-md-5 col-form-label">Isopentano (%Mol)</label>
                <div class="col-md-7">
                  <input name="Isopentano"  type="text" class="form-control" id="txtIsopentano">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label for="txtNPentano " class="col-md-5 col-form-label">N- Pentano  (%Mol)</label>
                <div class="col-md-7">
                  <input name="NPentano "  type="text" class="form-control" id="txtNPentano">
                </div>
              </div>
            </div>
          </div>
          <div class="row padding-left-6">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="txtButadieno " class="col-md-5 col-form-label">1,3 Butadieno </label>
                <div class="col-md-7">
                  <input name="Butadieno "  type="text" class="form-control" id="txtButadieno">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label for="txtHexanos" class="col-md-5 col-form-label">Hexanos</label>
                <div class="col-md-7">
                  <input name="Hexanos"  type="text" class="form-control" id="txtHexanos">
                </div>
              </div>
            </div>
          </div>  
          <div class="row padding-left-6">
            <div class="col-md-6">
              <div class="form-group row">
                <label for="txtCorrosionLaminaCobre " class="col-md-5 col-form-label">Corrosión a la lámina de cobre </label>
                <div class="col-md-7">
                  <input name="CorrosionLaminaCobre"  type="text" class="form-control" id="txtCorrosionLaminaCobre">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label for="txtDeterminacionEtilMercaptano" class="col-md-5 col-form-label">Determinación de Etil Mercaptano - FASE VAPOR (ppmv)</label>
                <div class="col-md-7">
                  <input name="DeterminacionEtilMercaptano"  type="text" class="form-control" id="txtDeterminacionEtilMercaptano">
                </div>
              </div>
            </div>
          </div>  
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</form>

