<form>
    <div class="form-group row">
        <label for="txtInfLab" class="col-sm-3 col-form-label">N° Informe Laboratorio</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="txtInfLab" placeholder="Nro. Informe Laboratorio">
        </div>
    </div>
    <div class="form-group row">
        <label for="txtObservaciones" class="col-sm-3 col-form-label">Observaciones</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="txtObservaciones" placeholder="Detallar">
        </div>
    </div>
    <ngb-tabset (tabChange)="beforeChange($event)">
        <ngb-tab class="nav nav-pills mb-3" id="tab-preventchange1" title="Primera">
            <ng-template ngbTabContent>
              <div class="row padding-top-15 padding-left-6">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtOctanaje" class="col-md-7 col-form-label">Octanaje (RON)</label>
                      <div class="col-md-5">
                        <input name="Octanaje"  type="text" class="form-control" id="txtOctanaje">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtPuntoInflamacion" class="col-md-7 col-form-label">Punto Inflamación (°C)</label>
                      <div class="col-md-5">
                        <input name="PuntoInflamacion"  type="text" class="form-control" id="txtPuntoInflamacion">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row padding-left-6" >
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtPresionVaporReid" class="col-md-7 col-form-label">Presión Vapor Reid (psig)</label>
                      <div class="col-md-5">
                        <input name="PresionVaporReid" type="text" class="form-control" id="txtOctanoVapor">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtContenidoAzufre4294" class="col-md-7 col-form-label">Contenido Azufre (ppm)4294</label>
                      <div class="col-md-5">
                        <input name="ContenidoAzufre4294"  type="text" class="form-control" id="txtContenidoAzufre4294">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row padding-left-6">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtContenidoAzufre5453" class="col-md-7 col-form-label">Contenido Azufre (ppm)5453</label>
                      <div class="col-md-5">
                        <input name="ContenidoAzufre5453"  type="text" class="form-control" id="txtContenidoAzufre5453">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtViscosidadCinematica" class="col-md-7 col-form-label">Viscosidad Cinemática (cSt)</label>
                      <div class="col-md-5">
                        <input name="ViscosidadCinematica"  type="text" class="form-control" id="txtViscosidadCinematica">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row padding-left-6">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtContenidoManganeso" class="col-md-7 col-form-label">Cont. Manganeso (mg/l)</label>
                      <div class="col-md-5">
                        <input name="ContenidoManganeso"  type="text" class="form-control" id="txtContenidoManganeso">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtPuntoEscurrimiento" class="col-md-7 col-form-label">Punto Escurrimiento (ªC)</label>
                      <div class="col-md-5">
                        <input name="PuntoEscurrimiento"  type="text" class="form-control" id="txtPuntoEscurrimiento">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row padding-left-6">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtContenidoPlomo" class="col-md-7 col-form-label">Contenido Plomo (g Pb/L)</label>
                      <div class="col-md-5">
                        <input name="ContenidoPlomo"  type="text" class="form-control" id="txtContenidoPlomo">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtContenidoPlomoAstmd3341" class="col-md-7 col-form-label">Contenido  Plomo (g Pb/L) - ASTM D 3341</label>
                      <div class="col-md-5">
                        <input name="ContenidoPlomoAstmd3341"  type="text" class="form-control" id="ContenidoPlomoAstmd3341">
                      </div>
                    </div>
                  </div>
                </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-preventchange2" title="Segunda">
            <ng-template ngbTabContent>
              <div class="row padding-top-15 padding-left-6">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtContenidoPlomoAstmd3237" class="col-md-5 col-form-label">Contenido  Plomo (g Pb/L) - ASTM D 3237</label>
                      <div class="col-md-7">
                        <input name="ContenidoPlomoAstmd3237"  type="text" class="form-control" id="txtContenidoPlomoAstmd3237">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtAstmd86_pie" class="col-md-5 col-form-label">ASTM D 86 (PIE)</label>
                      <div class="col-md-7">
                        <input name="Astmd86_pie"  type="text" class="form-control" id="txtAstmd86_pie">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row padding-left-6">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtAstmd86_5p" class="col-md-5 col-form-label">ASTM D 86 (5%)</label>
                      <div class="col-md-7">
                        <input name="Astmd86_5p"  type="text" class="form-control" id="txtAstmd86_5p">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtAstmd86_10p" class="col-md-5 col-form-label">ASTM D 86 (10%)</label>
                      <div class="col-md-7">
                        <input name="Astmd86_10p"  type="text" class="form-control" id="txtAstmd86_10p">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row padding-left-6">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtAstmd86_20p" class="col-md-5 col-form-label">ASTM D 86 (20%)</label>
                      <div class="col-md-7">
                        <input name="Astmd86_20p"  type="text" class="form-control" id="txtAstmd86_20p">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtAstmd86_50p " class="col-md-5 col-form-label">ASTM D 86 (50%)</label>
                      <div class="col-md-7">
                        <input name="Astmd86_50p "  type="text" class="form-control" id="txtAstmd86_50p">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row padding-left-6">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtAstmd86_90p " class="col-md-5 col-form-label">ASTM D 86 (90%) </label>
                      <div class="col-md-7">
                        <input name="Astmd86_90p "  type="text" class="form-control" id="txtAstmd86_90p">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtAstmd86_95p" class="col-md-5 col-form-label">ASTM D 86 (95%)</label>
                      <div class="col-md-7">
                        <input name="Astmd86_95p"  type="text" class="form-control" id="txtAstmd86_95p">
                      </div>
                    </div>
                  </div>
                </div>  
                <div class="row padding-left-6">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtAstmd86_pfe " class="col-md-5 col-form-label">ASTM D 86 (PFE)</label>
                      <div class="col-md-7">
                        <input name="Astmd86_pfe"  type="text" class="form-control" id="txtAstmd86_pfe">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtAstmd86_recup" class="col-md-5 col-form-label">ASTM D 86 (RECUP)</label>
                      <div class="col-md-7">
                        <input name="Astmd86_recup"  type="text" class="form-control" id="txtAstmd86_recup">
                      </div>
                    </div>
                  </div>
                </div>  
            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-preventchange3" title="Tercero">
            <ng-template ngbTabContent>
              <div class="row padding-top-15 padding-left-6">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtAstmd86_residuo" class="col-md-7 col-form-label">ASTM D 86 (RESIDUO)</label>
                      <div class="col-md-5">
                        <input name="Astmd86_residuo"  type="text" class="form-control" id="txtAstmd86_residuo">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtAstmd86_perdidas" class="col-md-7 col-form-label">ASTM D 86 (PERDIDAS)</label>
                      <div class="col-md-5">
                        <input name="Astmd86_perdidas"  type="text" class="form-control" id="txtAstmd86_perdidas">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row padding-left-6">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtGravidadApi" class="col-md-7 col-form-label">Gravidad ºAPIo</label>
                      <div class="col-md-5">
                        <input name="GravidadApi"  type="text" class="form-control" id="txtGravidadApi">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtDensidadRelativa" class="col-md-7 col-form-label">Densidad Relativa (g/ml)</label>
                      <div class="col-md-5">
                        <input name="DensidadRelativa"  type="text" class="form-control" id="txtDensidadRelativa">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row padding-left-6">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtIndiceCetanoProcedenciaA" class="col-md-7 col-form-label">Indice de Cetano calculado ecuación 4 variables Proced. A</label>
                      <div class="col-md-5">
                        <input name="IndiceCetanoProcedenciaA"  type="text" class="form-control" id="txtIndiceCetanoProcedenciaA">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtIndiceCetanoProcedenciaAProcedenciaB " class="col-md-7 col-form-label">Indice de Cetano calculado ecuación 4 variables Proced. B</label>
                      <div class="col-md-5">
                        <input name="IndiceCetanoProcedenciaAProcedenciaB"  type="text" class="form-control" id="txtIndiceCetanoProcedenciaAProcedenciaB">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row padding-left-6">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtIndiceCetano " class="col-md-7 col-form-label">Indice de Cetano </label>
                      <div class="col-md-5">
                        <input name="IndiceCetano "  type="text" class="form-control" id="txtIndiceCetano">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtindiceCetanoBajoAzufre" class="col-md-7 col-form-label">Indice de Cetano para bajo azufre</label>
                      <div class="col-md-5">
                        <input name="indiceCetanoBajoAzufre"  type="text" class="form-control" id="txtindiceCetanoBajoAzufre">
                      </div>
                    </div>
                  </div>
                </div>  
                <div class="row padding-left-6">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtContenidoFameVolumen " class="col-md-7 col-form-label">Contenido FAME (% Vol)</label>
                      <div class="col-md-5">
                        <input name="ContenidoFameVolumen"  type="text" class="form-control" id="txtContenidoFameVolumen">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtContenidoEtanolVolumen" class="col-md-7 col-form-label">Contenido Etanol (% Vol)</label>
                      <div class="col-md-5">
                        <input name="ContenidoEtanolVolumen"  type="text" class="form-control" id="txtContenidoEtanolVolumen">
                      </div>
                    </div>
                  </div>
                </div>  
            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-preventchange4" title="Cuarto">
            <ng-template ngbTabContent>
            <div class="row padding-top-15 padding-left-6">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtTotalOxigenadosVolumen" class="col-md-7 col-form-label">Total Oxigenados (%Vol)</label>
                      <div class="col-md-5">
                        <input name="TotalOxigenadosVolumen"  type="text" class="form-control" id="txtTotalOxigenadosVolumen">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtTotalOxigeno" class="col-md-7 col-form-label">Total Oxigeno (% masa)</label>
                      <div class="col-md-5">
                        <input name="TotalOxigeno"  type="text" class="form-control" id="txtTotalOxigeno">
                      </div>
                    </div>
                  </div>
                </div>
              <div class="row padding-left-6">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtContenidoMtbeVolumen" class="col-md-7 col-form-label">Contenido de MTBE(%Vol)</label>
                      <div class="col-md-5">
                        <input name="ContenidoMtbeVolumen"  type="text" class="form-control" id="txtContenidoMtbeVolumen">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtContenidoTameVolumen" class="col-md-7 col-form-label">Contenido de TAME(%Vol)</label>
                      <div class="col-md-5">
                        <input name="ContenidoTameVolumen"  type="text" class="form-control" id="txtContenidoTameVolumen">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row padding-left-6">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtContenidoEtbeVolumen" class="col-md-7 col-form-label">Contenido de ETBE(%Vol)</label>
                      <div class="col-md-5">
                        <input name="ContenidoEtbeVolumen"  type="text" class="form-control" id="txtContenidoEtbeVolumen">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtContenidoMetanolVolumen" class="col-md-7 col-form-label">Contenido de METANOL(%Vol)</label>
                      <div class="col-md-5">
                        <input name="ContenidoMetanolVolumen"  type="text" class="form-control" id="txtContenidoMetanolVolumen">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row padding-left-6">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtContenidoTertbutanoVolumen" class="col-md-7 col-form-label">Contenido de TERT-BUTANOL(%Vol)</label>
                      <div class="col-md-5">
                        <input name="ContenidoTertbutanoVolumen"  type="text" class="form-control" id="txtContenidoTertbutanoVolumen">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtContenidoDipeVolumen " class="col-md-7 col-form-label">Contenido de DIPE(%Vol)</label>
                      <div class="col-md-5">
                        <input name="ContenidoDipeVolumen"  type="text" class="form-control" id="txtContenidoDipeVolumen">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row padding-left-6">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtContenidoMtbeMasa " class="col-md-7 col-form-label">Contenido de MTBE(%masa) </label>
                      <div class="col-md-5">
                        <input name="ContenidoMtbeMasa"  type="text" class="form-control" id="txtContenidoMtbeMasa">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label for="txtContenidoTameMasa" class="col-md-7 col-form-label">Contenido de TAME(%masa)</label>
                      <div class="col-md-5">
                        <input name="ContenidoTameMasa"  type="text" class="form-control" id="txtContenidoTameMasa">
                      </div>
                    </div>
                  </div>
                </div>  
            </ng-template>
          </ngb-tab>
          <ngb-tab id="tab-preventchange5" title="Quinto">
                <ng-template ngbTabContent>
                <div class="row padding-top-15 padding-left-6">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label for="txtContenidoEtbeMasa" class="col-md-7 col-form-label">Contenido de ETBE(%masa)</label>
                          <div class="col-md-5">
                            <input name="ContenidoEtbeMasa"  type="text" class="form-control" id="txtContenidoEtbeMasa">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label for="txtContenidoEtanolMasa" class="col-md-7 col-form-label">Contenido de ETANOL(%masa)</label>
                          <div class="col-md-5">
                            <input name="ContenidoEtanolMasa"  type="text" class="form-control" id="txtContenidoEtanolMasa">
                          </div>
                        </div>
                      </div>
                    </div>
                  <div class="row padding-left-6">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label for="txtContenidoMetanolMasaa" class="col-md-7 col-form-label">Contenido de METANOL(%masa)</label>
                          <div class="col-md-5">
                            <input name="ContenidoMetanolMasa"  type="text" class="form-control" id="txtContenidoMetanolMasa">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label for="txtContenidoTertbutanoMasa" class="col-md-7 col-form-label">Contenido de TERT-BUTANOL(%masa)</label>
                          <div class="col-md-5">
                            <input name="ContenidoTertbutanoMasa"  type="text" class="form-control" id="txtContenidoTertbutanoMasa">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row padding-left-6">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label for="txtContenidoDipeMasa" class="col-md-7 col-form-label">Contenido de DIPE(%masa)</label>
                          <div class="col-md-5">
                            <input name="ContenidoDipeMasa"  type="text" class="form-control" id="txtContenidoDipeMasa">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label for="txtTotalOxigenadosMasa" class="col-md-7 col-form-label">Total Oxigenados (%masa)</label>
                          <div class="col-md-5">
                            <input name="TotalOxigenadosMasa"  type="text" class="form-control" id="txtTotalOxigenadosMasan">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row padding-left-6">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label for="txtReaccionAlAgua" class="col-md-7 col-form-label">Reacción al agua (ml)</label>
                          <div class="col-md-5">
                            <input name="ReaccionAlAgua"  type="text" class="form-control" id="txtReaccionAlAgua">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label for="txtContenidoSolidos " class="col-md-7 col-form-label">Contenido de Sólidos (mg/L)</label>
                          <div class="col-md-5">
                            <input name="ContenidoSolidos"  type="text" class="form-control" id="txtContenidoSolidos">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row padding-left-6">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label for="txtContenidoGomas " class="col-md-7 col-form-label">Contenido de Gomas (mg/100 mL) </label>
                          <div class="col-md-5">
                            <input name="ContenidoGomas"  type="text" class="form-control" id="txtContenidoGomas">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label for="txtPuntoCongelamiento" class="col-md-7 col-form-label">Punto congelamiento (ªC)</label>
                          <div class="col-md-5">
                            <input name="puntoCongelamiento"  type="text" class="form-control" id="puntoCongelamiento">
                          </div>
                        </div>
                      </div>
                    </div>  
                </ng-template>
              </ngb-tab>
              <ngb-tab id="tab-preventchange6" title="Sexto">
                    <ng-template ngbTabContent>
                    <div class="row padding-top-15 padding-left-6">
                          <div class="col-md-6">
                            <div class="form-group row">
                              <label for="txtAguaSedimentos" class="col-md-7 col-form-label">Agua y sedimentos (%V/V)</label>
                              <div class="col-md-5">
                                <input name="AguaSedimentos"  type="text" class="form-control" id="txtAguaSedimentos">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group row">
                              <label for="txtDeterminacionBenceno" class="col-md-7 col-form-label">Determinación de Benceno</label>
                              <div class="col-md-5">
                                <input name="DeterminacionBenceno"  type="text" class="form-control" id="txtDeterminacionBenceno">
                              </div>
                            </div>
                          </div>
                        </div>
                      <div class="row padding-left-6">
                          <div class="col-md-6">
                            <div class="form-group row">
                              <label for="txtAguaPorDestilacion" class="col-md-7 col-form-label">Agua por destilación</label>
                              <div class="col-md-5">
                                <input name="AguaPorDestilacion"  type="text" class="form-control" id="txtAguaPorDestilacion">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group row">
                              <label for="txtColor" class="col-md-7 col-form-label">Color</label>
                              <div class="col-md-5">
                                <input name="Color"  type="text" class="form-control" id="txtColor">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row padding-left-6">
                          <div class="col-md-6">
                            <div class="form-group row">
                              <label for="txtContaminacionParticulas" class="col-md-7 col-form-label">Contaminación particulas por filtración de laboratorio mg/L</label>
                              <div class="col-md-5">
                                <input name="ContaminacionParticulas"  type="text" class="form-control" id="txtContaminacionParticulas">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group row">
                              <label for="txtIndiceCetanoFame" class="col-md-7 col-form-label">Indice de Cetano calculado ecuación 4 variables Determinación de FAME en combustibles de aviación (mg/kg)</label>
                              <div class="col-md-5">
                                <input name="IndiceCetanoFame"  type="text" class="form-control" id="txtContenidoMetanolVolumen">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row padding-left-6">
                          <div class="col-md-6">
                            <div class="form-group row">
                              <label for="txtResultadoFinal" class="col-md-7 col-form-label">Resultado Final</label>
                              <div class="col-md-5">
                                <input name="ResultadoFinal"  type="text" class="form-control" id="txtRresultadoFinal">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group row">
                              <label for="txtRemanenteRetirado " class="col-md-7 col-form-label">Remanente Retirado</label>
                              <div class="col-md-5">
                                <input name="RemanenteRetirado"  type="text" class="form-control" id="txtRemanenteRetirado">
                              </div>
                            </div>
                          </div>
                        </div>  
                    </ng-template>
                  </ngb-tab>
    </ngb-tabset>
</form>