<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
  <div class="card">
    <div class="card-header">
      Registro / Modificación de Guías
    </div>
    <div class="card-body" *ngIf="guiaActual"  >
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="txtCodigo">Código</label>
          <input type="text" class="form-control" name="codigo" id="txtCodigo" placeholder="PER-XXXX" [ngModel]="guiaActual.codigo">
        </div>
        <div class="form-group col-md-6">
          <label for="txtFechaRecepcion">Fecha de Recepción</label>
          <input name="fechaRecepcion" [ngModel]="guiaActual.fechaRecepcion" type="date" class="form-control" id="txtFechaRecepcion"
            placeholder="dd/mm/yyyy">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="txtRepresentanteIntertek">Representante Laboratorio</label>
          <input name="representanteIntertek" [ngModel]="guiaActual.representanteIntertek" type="text" class="form-control" id="txtRepresentanteIntertek">
        </div>
        <div class="form-group col-md-6">
          <label for="txtDniRepresentanteIntertek">DNI Representante Laboratorio</label>
          <input name="dniRepresentanteIntertek" [ngModel]="guiaActual.dniRepresentanteIntertek" type="text" class="form-control"
            id="txtDniRepresentanteIntertek">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="txtRepresentanteOsinergmin">Representante Osinergmin</label>
          <input name="representanteOsinergmin" [ngModel]="guiaActual.representanteOsinergmin" type="text" class="form-control" id="txtRepresentanteOsinergmin">
        </div>
        <div class="form-group col-md-6">
          <label for="txtDniRepresentanteOsinergmin">DNI Representante Osinergmin</label>
          <input name="dniRepresentanteOsinergmin" [ngModel]="guiaActual.dniRepresentanteOsinergmin" type="text" class="form-control"
            id="txtDniRepresentanteOsinergmin">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="txtSupervisorExtraccionMuestra">Supervisor Extracción de Muestra</label>
          <input name="supervisorExtraccionMuestra" [ngModel]="guiaActual.supervisorExtraccionMuestra" type="text" class="form-control"
            id="txtSupervisorExtraccionMuestra">
        </div>
        <div class="form-group col-md-6">
          <label for="txtArchivoGuia">Seleccionar Archivo</label>
          <input 
          [value]="guiaActual.nombreArchivo"
          (change)="getFiles($event)"
            type="file" class="form-control" id="txtArchivoGuia" lang="es">
        </div>
      </div>
      <div class="form-group">
        <label for="txtComentario">Comentario</label>
        <textarea name="comentario" [ngModel]="guiaActual.comentario" class="form-control" id="txtComentario" rows="3"></textarea>
      </div>

      <div class="row">
          <div class="col-lg-12">
              <button 
                (click)="cargarDetalle()"
                type="button" class="btn btn-primary float-right">Agregar</button>
          </div>
      </div>
      
      <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered" cellspacing="0">
        <thead>
          <tr>  
            <th>Nº</th>          
            <th>Codigo Producto</th>
            <th>Cant. de Muestras</th>
            <th>Tipo de Envase</th>
            <th>Fecha de Muestreo</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detalleGuia of guiaActual.detalleGuia; let i = index;">
            <td>{{ i + 1 }}</td>
            <td>{{ detalleGuia.codigoProducto }}</td>
            <td>{{ detalleGuia.cantidadMuestras }}</td>
            <td>{{ detalleGuia.tipoEnvase }}</td>
            <td>{{ detalleGuia.fechaMuestreo | date:'dd/MM/yyyy' }}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer text-muted">
      <button class="btn btn-primary" type="submit">         
        Grabar
      </button>
      <button (click)="cancelar()" class="btn" type="button">Cancelar</button>
    </div>
  </div>
</form>